@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import "./variables";

body {
  font-family: "Source Sans Pro", sans-serif;
}

button {
  outline: none !important;
}

button:focus,
.button:focus {
  outline: none !important;
}

.bg-secondary {
  background: $bg-secondary !important;
}

.border-secondary {
  border-color: $bg-secondary !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

div.website-layout {
  background: url("../images/defaults/body-bg.png");
}
